---
- name:  Webserver A2
  hosts: webservers
  become: yes

  tasks:
    - name: Install Apache
      apt:
        name: apache2
        state: present
        update_cache: yes

    - name: Start Apache
      service:
        name: apache2
        state: started
        enabled: yes

    - name: Custom index page
      copy:
        content: "<h1>Mijn eigen Ansible webserver</h1>"
        dest: /var/www/html/index.html